<!-- This would display the string "Hello World!" -->
<h1 style="color:blue"><%= intro %></h1> 
<h1><%= greeting %></h1> 
<!-- has to be the same as the template variable on express_server.js (or any) -->

